.order-confirmation-container {
    text-align: center;
    padding: 20px;
  }

  .order-confirmation-container p{
    font-size: 12px;
  }
  
  .order-summary {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .order-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  
  .order-confirmation-container button {
    background: #004d00;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-confirmation-container button:hover {
    background: #003300;
  }
  